.container {
    background: #f3f4f3;
    overflow: hidden;
    min-height: 100%;
    font-size: 0.3rem;
}

.menu-list {
    height: 1rem;
    background: #fff;
    color: #999;
    overflow: hidden;
    margin-bottom: 0.1rem;
}

.menu-list li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 0.96rem;
}

.menu-active {
    color: #ec5e2a;
    border-bottom: 0.04rem solid #ec5e2a;
}

.order-list-item {
    overflow: hidden;
    background: #fff;
    margin-bottom: 0.2rem;
}

.order-item-header {
    height: 0.88rem;
    line-height: 0.88rem;
    border-bottom: 1px solid #e8e8e8;
    clear: both;
    padding: 0 0.3rem;
}

.order-no {
    color: #999;
}

.order-status {
    color: #ec5e2a;
    float: right;
}

.order-status-cancel {
    color: #999;
    float: right;
}

.order-item-content {
    padding: 0.2rem 0.24rem 0 0.3rem;
}

.goods-img {
    width: 1.8rem;
    height: 1.8rem;
    float: left;
}

.goods-msg-content {
    height: 1.8rem;
    width: 5.02rem;
    float: right;
    position: relative;
}

.goods-type {
    width: 2rem;
    color: #999;
    font-size: 0.26rem;
}

.goods-type p {
    margin-top: 0.1rem;
}

.goods-type-list span {
    margin-right: 0.15rem;
}

.goods-price {
    color: #ec5e2a;
    font-size: 0.36rem;
}

.goods-num {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.36rem;
}

.order-item-total-price {
    height: 0.88rem;
    line-height: 0.88rem;
    border-bottom: 1px solid #e8e8e8;
    clear: both;
    padding: 0 0.3rem;
}

.total-price-num {
    float: right;
    color: #666;
}

.total-price-num span:last-child {
    color: #ec5e2a;
}

.order-item-footer {
    height: 0.88rem;
    line-height: 0.9rem;
    text-align: right;
    padding: 0 0.3rem;
}

.order-item-footer a {
    color: #999;
    border: 1px solid #999;
    padding: 0.04rem 0.2rem;
    border-radius: 0.12rem;
    margin-left: 0.2rem;
}

.order-item-footer .confirm-take-goods {
    color: #fff;
    background: #e7282a;
    border: 0;
    padding: 0.05rem 0.22rem;
}

.order-cancel {
    display: none;
}

.order-sending {
    display: none;
}