.container {
    background: #f3f4f3;
    overflow: hidden;
    min-height: 100%;
}

.msg-time-point {
    height: 0.4rem;
    margin-bottom: 0.24rem;
    padding-top: 0.24rem;
    text-align: center;
    font-size: 0.24rem;
}

.msg-time-point span {
    display: block;
    color: #fff;
    background: #b5b7bb;
    width: 1.28rem;
    height: 0.4rem;
    line-height: 0;
    text-align: center;
    line-height: 0.4rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin: 0 auto;
}

.massge-item {
    font-size: 0.26rem;
    margin: 0.24rem 0.26rem;
    overflow: hidden;
}

.msg-author-img {
    width: 0.8rem;
    height: 0.8rem;
    float: left;
}

.msg-bubble {
    width: 3.68rem;
    background: #fff;
    float: left;
    border: 0.02rem solid #e0e0e0;
    border-radius: 0.13rem;
    -webkit-border-radius: 0.13rem;
    -moz-border-radius: 0.13rem;
    -o-border-radius: 0.13rem;
    margin-left: 0.36rem;
    font-size: 0.26rem;
    position: relative;
    padding: 0.16rem;
    min-height: 0.4rem;
    word-break: break-all;
}

.msg-bubble a {
    text-decoration: underline;
    color: #43b4fb;
}

.msg-bubble::before {
    content: '';
    display: block;
    background: #fff;
    width: 0.2rem;
    height: 0.2rem;
    border-left: 0.02rem solid #e0e0e0;
    border-bottom: 0.02rem solid #e0e0e0;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	
    -moz-transform:rotate(45deg); 
    -webkit-transform:rotate(45deg); 
    -o-transform:rotate(45deg); 
    position: absolute;
    left: -0.12rem;	
    top: 0.25rem;
}

.msg-op-btn {
    text-align: center;
    margin-top: 0.15rem;
}

.msg-op-btn button {
    width: 1rem;
    height: 0.4rem;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 0.08rem;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    -o-border-radius: 0.08rem;
    margin: 0 0.25rem;
}

.msg-op-btn .agree-btn {
    background: #ff8f00;
}

.msg-op-btn .refuse-btn {
    background: #e72d28;
}